<template>
    <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Back Arrow</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="01-BOQ-Project-Summary-Collapsed" transform="translate(-19.000000, -24.000000)" fill="#F0595F">
                <g id="Header" transform="translate(-1.000000, -3.000000)">
                    <polygon id="ion-android-arrow-back---Ionicons" points="36.359375 34.1751645 36.359375 36.1842105 23.9224232 36.1842105 29.6147204 41.9243421 28.1796875 43.359375 20 35.1796875 28.1796875 27 29.6625548 28.4350329 23.9224232 34.1751645"></polygon>
                </g>
            </g>
        </g>
    </svg>
</template>
<script>
export default {
  data () {
    return {
    }
  }
}
</script>
