<template>
  <div>
    <header>
        <h1 class="display-6">Your Quotations</h1>
    </header>
    <br/>
    <div v-if="data.isLoaded && data.boqs.items.length>0" style="width:100%;margin:0 auto">
      <b-table striped bordered hover :fields="data.boqs.fields" :items="data.boqs.items">
        <template slot="index" slot-scope="data">
          {{data.index + 1}}
        </template>
        <!-- A custom formatted column -->
        <template slot="display_name" slot-scope="data">
          {{data.item.identifier}}
        </template>
        <!-- A virtual composite column -->
        <template slot="total_price" slot-scope="data">
          {{data.item.net_payable | toCurrency(formatter.currencyType, formatter.countryISOCode)}}
        </template>
        <template slot="preview" slot-scope="data">
          <router-link :to="{ path:''+data.item.id}" @click.native="sendEvent(data.item)" append>View</router-link>
        </template>
      </b-table>
    </div>
    <div v-if="data.boqs.items.length==0">
      No Shared Quotations
    </div>
  </div>
</template>

<script>
// import Vue from 'vue'
import BOQListFormatter from '../services/formatter/listBoq.js'

export default {
  components: {

  },
  props: {
    dataClient: {
      type: Object,
      required: true
    }
    // ,
    // service:{
    //   type:Object,
    //   required: true
    // }
    //
  },
  data () {
    return {
      data: {},
      formatter: null
    }
  },
  methods:{
    sendEvent(itemData){
      var data = {};
      data["actionName"] = "Customer - Quote Viewed";
      data["Quote ID"] = itemData.id;
      data["Quote Expiry"] = itemData.pay_by_date;
      data["Quote Value"] = itemData.total_price;
      this.$emit('user-boq-action', data);
    }
  },
  created: function () {
    this.formatter = new BOQListFormatter(this.dataClient)
    let data = this.formatter.getData()
    this.data = data
  }
}
</script>
