<template>
    <svg width="13px" height="13px" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Caller Icon</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="01-BOQ-Project-Summary-Collapsed" transform="translate(-317.000000, -349.000000)" fill="#F74861">
                <g id="Designer-Details" transform="translate(0.000000, 269.000000)">
                    <g id="Group-2-Copy" transform="translate(306.000000, 70.000000)">
                        <path d="M13.675,16.183 C14.1963359,17.1803383 14.8593293,18.0813293 15.664,18.886 C16.4686707,19.6906707 17.3696617,20.3536641 18.367,20.875 L19.931,19.311 C20.0216671,19.2089995 20.1349993,19.1410002 20.271,19.107 C20.4070007,19.0729998 20.5373327,19.084333 20.662,19.141 C21.4100037,19.401668 22.248662,19.532 23.178,19.532 C23.3706676,19.532 23.5349993,19.5999993 23.671,19.736 C23.8070007,19.8720007 23.875,20.0363324 23.875,20.229 L23.875,22.728 C23.875,22.9206676 23.8070007,23.0849993 23.671,23.221 C23.5349993,23.3570007 23.3706676,23.425 23.178,23.425 C21.5459918,23.425 19.9820075,23.1076698 18.486,22.473 C17.0466595,21.8609969 15.7716722,20.9996722 14.661,19.889 C13.5503278,18.7783278 12.6890031,17.5033405 12.077,16.064 C11.4423302,14.5679925 11.125,13.0040082 11.125,11.372 C11.125,11.1793324 11.1929993,11.0150007 11.329,10.879 C11.4650007,10.7429993 11.6293324,10.675 11.822,10.675 L14.321,10.675 C14.5136676,10.675 14.6779993,10.7429993 14.814,10.879 C14.9500007,11.0150007 15.018,11.1793324 15.018,11.372 C15.018,12.301338 15.148332,13.1399963 15.409,13.888 C15.4430002,14.0126673 15.4486668,14.1429993 15.426,14.279 C15.4033332,14.4150007 15.3410005,14.5283329 15.239,14.619 L13.675,16.183 Z" id="call---material"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</template>
<script>
export default {
  data () {
    return {
    }
  }
}
</script>
