<template>
  <ls-card :data="data"></ls-card>
</template>

<script>

import Card from './Card.vue'

export default {
  name: 'CardWrapper',
  components: {
    'ls-card': Card,
  },
  props: {
    data:{
      type:Object,
      required: true
    }
  },
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
