<template>
  <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: sketchtool 55.2 (78181) - https://sketchapp.com -->
      <title>E4B125F3-9117-4245-A4A2-7AA13330A26B</title>
      <desc>Created with sketchtool.</desc>
      <g id="Final" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="9.-icons" transform="translate(-252.000000, -296.000000)" fill="#FF3F6E" fill-rule="nonzero">
              <g id="Group" transform="translate(252.000000, 296.000000)">
                  <g id="ic-round-expand-more-copy-4">
                      <g id="Icon">
                          <path d="M15.88,9.29 L12,13.17 L8.12,9.29 C7.86812776,9.03812775 7.50101597,8.93976044 7.15695208,9.03195208 C6.8128882,9.12414372 6.54414372,9.3928882 6.45195208,9.73695208 C6.35976044,10.081016 6.45812775,10.4481278 6.71,10.7 L11.3,15.29 C11.69,15.68 12.32,15.68 12.71,15.29 L17.3,10.7 C17.4872281,10.5131554 17.592444,10.2595095 17.592444,9.995 C17.592444,9.73049053 17.4872281,9.47684459 17.3,9.29 C16.91,8.91 16.27,8.9 15.88,9.29 L15.88,9.29 Z" id="Icon-Path"></path>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </svg>
</template>
<script>
export default {
  data () {
    return {
    }
  }
}
</script>
