<template>
  <div class="card-body p-0" style="border-bottom: none;">
    <div class="row no-gutters border-bottom p-3 font-weight-bold d-md-flex  d-none d-sm-block">
        <div class="col">
            <p class="mb-0 fs-16" >Item Name</p>
        </div>
        <div class="col text-center">
            <p class="mb-0 fs-16" >Qty</p>
        </div>
        <div class="col text-right">
            <p class="mb-0 fs-16" >Price</p>
        </div>
    </div>
    <div v-for="(itemdash, key) in data.items" :key="key" class="border-bottom-last-child-toggle">
      <div v-if="itemdash.metaData" class="row no-gutters py-1 px-2">
        <b-modal :id="'modal'+itemdash.metaData.code+key" :hide-footer="hideFooter" header-class="border-bottom-0" size="lg">
          <item-detail-modal :data="itemdash.metaData" :dataClient="dataClient"></item-detail-modal>
        </b-modal>
          <div class="media col p-2">
              <img class="img-fluid d-none d-sm-block pr-2" style="max-width:100px;" v-bind:src="itemdash.metaData.cover_image_url" alt="" onError="this.onerror=null;this.src='https://cdn.livmatrix.com//img/logos/ruby/livspace-square.png';">
              <div class="media-body">
                <p class="mb-0">{{itemdash.metaData.display_name}}</p>
                <button class="btn btn-link brand-primary mb-0 fs-13 pl-0" v-b-modal="'modal'+itemdash.metaData.code+key">View Details</button>
              </div>
          </div>
          <div class="col p-2 text-center d-none d-sm-block" >
              <p class="mb-0"> {{itemdash.quantity}}</p>
          </div>
          <div class="col py-2 pr-2 text-right">
              <p class="mb-0">{{itemdash.sub_total | toCurrency}}</p>
          </div>
      </div>

    </div>

  </div>
</template>
<script>

import ItemDetailModal from './ItemDetailModal.vue'

export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    dataClient:{
      type: Object,
      required: true,
    }
  },
  components: {ItemDetailModal},
  data () {
    return {
      hideFooter: true
    }
  }
}
</script>
