<template>
  <div role="costlist" :class="$style.costlist">
    <div
      v-for="(item, index) in listElements"
      :key="index"
      :class="{[$style.listitem]: true, [$style.compact]: compact}"
      @click="openDrawer(item.roomId)"
    >
        <div class="name">
          <div
            :class="$style.colorlegend"
            :style="{'background-color': item.color}"
          >
          </div>
          <span :class="$style.propertyname">
            {{item.name}}
          </span>
        </div>
        <div :class="{[$style.price]: true}">
          <span>{{item.currencyvalue | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</span>
          <!-- <img v-if="showchevron"
            src="../assets/expand.svg"
            :style="{transform: 'rotateZ('+chevronrotation+'Deg)'}"
          > -->
          <div v-if="showchevron"
            :class="$style.chevronstyle"
            :style="{transform: 'rotateZ('+chevronrotation+'Deg)'}"
          >
          <chevron></chevron>
          </div>
        </div>
    </div>
  </div>
</template>
<script>
import chevron from './chevron.vue'

export default {
  components: {
      chevron
  },
  props: {
    listElements: {
      type: Array, /* [{name, currencyvalue, color}, ...] */
      required: true
    },
    chevronrotation: {
      type: Number,
      default: 0
    },
    showchevron: {
      type: Boolean,
      default: true
    },
    compact: {
      type: Boolean,
      default: false
    },
    formatter:{
      type: Object,
      required: true,
    },
  },
  methods: {
    openDrawer( val ){
      if (val)
        this.$emit('openRoom', val);
    }
  }
}
</script>
<style module>
  .listitem {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-right: 10px;
    border-bottom: 1px solid #e9e9e9;

  }

  .listitem .colorlegend {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    margin-right: 14px;
  }

  .listitem.compact {
    padding: 5px;
    padding-left: 15px;
    border-bottom: 1px solid transparent;
  }

  .listitem.compact .colorlegend {
    margin-right: 7px;
  }


  .propertyname {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .price {
    min-width: 90px;
    display: flex;
    justify-content: flex-end;
    margin-right: -4px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .listitem.compact .price {
    padding-right: 13px;
  }

  .chevronstyle {
    /* background-image: url("../assets/expand.svg"); */
    width: 20px;
    height: 9px;
    background-position-x: 0px;
    background-position-y: -7px;
    background-size: 100%;
    background-size: 20px;
  }
</style>
