<template>
  <div class="cost-breakout">
      <div>
        <div class="breakout-details">
              <div class="breakout-chart">
                <apexchart
                  type="donut"
                  :options="roomOptions"
                  :series="roomSeries"
                >
                </apexchart>
              </div>
              <div class="breakout-list-container">
                <CostList
                  :listElements="roomCostBreakoutList"
                  :chevronrotation="-90"
                  :formatter="formatter"
                  @openRoom="openRoom"
                  />
                <div class="breakout-list">
                  <div class="list-text-item">
                      <p class="text">
                          <span class="label-medium"> Sub Total </span>
                          <span style="flex-basis : 150px;text-align: right;">
                            {{paymentDetails.subTotal | toCurrency(formatter.currencyType, formatter.countryISOCode)}}
                          </span>
                      </p>
                      <p class="text">
                          <span class="label-medium"> Design &amp; project management fee </span>
                          <span style="flex-basis : 150px;text-align: right;"> {{paymentDetails.handlingFee | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</span>
                      </p>
                      <p v-if="paymentDetails.discount" class="text">
                          <span class="label-medium"> Total order value</span>
                          <span style="flex-basis : 150px;text-align: right;"> {{ (paymentDetails.subTotal + paymentDetails.handlingFee) | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</span>
                      </p>
                      <p v-if="paymentDetails.discount" class="text">
                          <span class="label-medium"> Discount </span>
                          <span style="display:inline-block;padding-left:40px;"> {{paymentDetails.discount | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</span>
                      </p>
                  </div>
                  <div v-if="paymentDetails.coupons && paymentDetails.coupons.length>0" style="border-bottom: 1px solid #e9e9e9;font-family: 'Robot', sans-serif;">
                    <p class="coupon-details">
                       Coupon Details
                    </p>
                    <div v-for="coupon in paymentDetails.coupons">
                      <div style="display:flex;padding-left:15px;margin-bottom:15px;font-size:13px;">
                        <div style="flex-basis:30%;text-align: left;"><span style="text-transform: uppercase;">{{coupon.coupon_code}}</span></div>
                        <div style="width:70%;text-align:left;"><span>{{coupon.description}}</span></div>
                      </div>
                    </div>

                  </div>

                  <div class="list-text-item list-text-item-last">
                      <p class="text">
                          <span class="font-size-13"> Total project estimate </span>
                          <span style="text-align: right;"> {{paymentDetails.total | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</span>
                      </p>
                  </div>
                </div>
              </div>
            </div>
      </div>

  </div>
</template>

<script>

// import VueApexCharts from 'vue-apexcharts'
import CostList from './CostList';
import PaymentDetails from './PaymentDetails';
export const scopeColors = {
  MODULAR: '#F2AA36',
  CIVIL: '#35C3CC',
  OTHERS: '#208F9C',
}

const colors = [scopeColors.MODULAR, scopeColors.CIVIL, scopeColors.OTHERS,
    '#C2E7D5', '#2A465B', '#E75E45', '#6236FF',
    '#CABBFF', '#9B575B', '#2C1320'];
const plotOptions = {
          pie: {
            offsetY: 5,
            customScale: 0.8,
            dataLabels: {
                offset: 60
              },
            donut: {
              size: '50%'
            }
          }
        }
const dataLabels = {
            enabled: true,
            enabledOnSeries: undefined,
            textAnchor: 'middle',
            offsetX: 0,
            offsetY: 0,
            formatter,
            style: {
                fontSize: '14px',
                fontFamily: 'Helvetica, Arial, sans-serif',
                colors: ["#000000"]
            },
            dropShadow: {
                enabled: false,
                top: 1,
                left: 1,
                blur: 1,
                opacity: 0.45
            }
        }
function formatter (val, opt) {
    let s = opt.w.globals.labels[opt.seriesIndex];
    s = s.charAt(0).toUpperCase() + s.slice(1);
    if (s.length > 9) {
      s = s.substr(0, 9) + "..."
    }
    return s;
}

export default {
  props:{
    formatter:{
      type: Object,
      required: true,
    },
  },
  components: {
    CostList,
    PaymentDetails
  },
  computed: {
    roomCostBreakoutList: function() {
      if (this.costBreakOutDetails.room) {
        const breakoutlist = []
        this.costBreakOutDetails.room.forEach((room, name) => {
          breakoutlist.push({
            name,
            color: this.getLegendColor([name, room.value]),
            currencyvalue: room.value,
            roomId: room.roomId
          })
        })
        return breakoutlist
      } else {
        return []
      }

        // .map((name, cost) => {
        //   return {
        //     name,
        //     color: this.getLegendColor([name, cost]),
        //     currencyvalue: cost
        //   }
        // })
    },
    scopeCostBreakoutList: function() {
      if (this.costBreakOutDetails.scope) {
        const breakoutlist = []
        Object.entries(this.costBreakOutDetails.scope).forEach(([name, cost]) => {
          breakoutlist.push({
            name,
            color: scopeColors[name.toUpperCase()] || "#2A465B",
            currencyvalue: cost
          })
        })
        return breakoutlist
      } else {
        return []
      }
    }
  },
  data () {
    return {
      dummylist: [
        {
          name: 'Item1',
          currencyvalue: 1231,
          color: '#C2E7D5'
        },
        {
          name: 'Item2',
          currencyvalue: 998,
          color: '#35C3CC'
        },
        {
          name: 'Item1',
          currencyvalue: 654,
          color: '#208F9C'
        }
      ],
      roomOptions: {
        colors,
        plotOptions,
        labels: [],
        legend: {
            show: false,

        },
        dataLabels,
      },
      scopeOptions: {
        colors,
        labels: [],
        legend: {
            show: false,
        },
        plotOptions,
        dataLabels,
      },

      roomSeries: [],
      roomLabels: [],
      scopeSeries: [],
      scopeLabels: [],
      costBreakOutDetails: {}
    }
  },
  created: function() {
    this.paymentDetails = this.paymentDetails || { subTotal: 0 }
  },
  mounted: function () {
    this.costBreakOutDetails = this.formatter.getCostBreakOutDetails()
    this.paymentDetails = this.formatter.getProjectAmountDetails()
    var that = this;
    this.costBreakOutDetails.room.forEach(function(value, key){
      that.roomOptions.labels.push(key);
      that.roomSeries.push(value.value);
    });
    for(var scope in this.costBreakOutDetails.scope){
      this.scopeOptions.labels.push(scope);
      this.scopeSeries.push(this.costBreakOutDetails.scope[scope]);
    }
  },
  methods: {
    getLegendColor(value) {
      const indexofroom = this.roomOptions.labels.indexOf(value[0]);
      const colorsarraylength = this.roomOptions.colors.length;
      return this.roomOptions.colors[indexofroom % colorsarraylength]
    },
    openRoom(val){
      this.$emit('openRoom', val);
    }
  }
}
</script>

<style>

.cost-breakout .nav-tabs{
    border: 0px;
    padding: 15px 0px 30px 0px;
    z-index : 1000;
}
.cost-breakout .tab-content {
  height: auto !important;
  overflow: hidden !important;
}
.cost-breakout .nav-tabs .nav-item{
    margin : 0px !important;
    display : inline-block;
}
.cost-breakout .nav-tabs .nav-item .nav-link{
    margin : 0px !important;
    font-weight : normal;
    padding: 5px 15px !important;
    background-color: #f4f5f7;
}
.cost-breakout .nav-tabs .nav-item .nav-link.active{
    border: 0px;
    background-color: #29475d;
    color: #fff;
}

.cost-breakout .nav-tabs .nav-item:first-child .nav-link{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.cost-breakout .nav-tabs .nav-item:last-child .nav-link{
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
}
.cost-breakout{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px; /*0px 0px 15px #cfcfcf;*/
    margin-bottom : 35px;
}

.cost-breakout .cost-breakout-buttons{
    text-align: center;
    padding: 20px 0px 40px 0px;
}
.cost-breakout .cost-breakout-buttom-sm-screen{
    display: none;
}

.cost-breakout .cost-breakout-buttons .btn-list{
    display: inline-block;
    background-color: #f4f5f7;
    border-radius: 20px;
    overflow: hidden;
}
.cost-breakout .cost-breakout-buttons .btn-list .button{
    display: inline-block;
    padding : 7px 20px;
    font-size: 12px;
    color : #595b5b;
}
.cost-breakout .cost-breakout-buttons .btn-list .button.active{
    background-color: #29475d;
    color : #fff;
}
.cost-breakout .breakout-details{
    display: flex;
    padding-bottom: 40px;
}

@media (max-width:500px){
    .cost-breakout .breakout-details{
        display: block;
    }
    .cost-breakout .breakout-details .breakout-list{
        padding-right: 0px !important;
    }
    .cost-breakout .cost-breakout-buttons{
        display: none;
    }
    .cost-breakout .cost-breakout-buttom-sm-screen{
        display: block;
    }
    .cost-breakout .nav.nav-tabs{
        display : block !important;
        text-align: center !important;
    }
    .cost-breakout .nav.nav-tabs{

    }
}

.coupon-details{
    text-align: left;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 15px;
}

.cost-breakout .breakout-details .breakout-chart{
    flex-basis: 50%;
    align-content: center;
}
.cost-breakout .breakout-details .breakout-list{
    flex-basis: 50%;
    padding: 0px 30px 3px 0px;
    border-left: 1px solid #e9e9e9;
}
.cost-breakout .breakout-details .breakout-list .list-item{
    display: flex;
    justify-content: space-between;
    padding : 15px;
    padding-right: 10px;
    border-bottom: 1px solid #e9e9e9;
    align-items: center;
}

.cost-breakout .breakout-details .breakout-list .list-item:hover,
.cost-breakout .breakout-details .breakout-list .list-item:active {
  background-color: gainsboro;
}

.cost-breakout .breakout-details .breakout-list .name {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.cost-breakout .breakout-details .breakout-list .name > span:nth-child(2){
    text-align: left;
}

.cost-breakout .breakout-details .breakout-list .colorlegend {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  margin-right: 14px;
}

.cost-breakout .breakout-details .breakout-list .prize {
  min-width: 90px;
  display: flex;
  justify-content: flex-end;
}

.cost-breakout .breakout-details .breakout-list .list-item .color-box{
    width:10px;
    height:10px;
    background-color:red;
    display: inline-block;
    margin-right:10px;
    border-radius: 2px;
}
.cost-breakout .breakout-details .breakout-list .list-text-item .text{
  display : flex;
  justify-content : space-between;
  text-align : left;
}

.cost-breakout .breakout-details .breakout-list .list-text-item .text .label-medium {
  font-size: 13px;
  font-family: 'Robot', sans-serif;
  font-weight: 400;
}

.cost-breakout .breakout-details .breakout-list .list-text-item .text span:first-child{
    flex-grow : 1;
}
@media (max-width : 500px){
    .cost-breakout .breakout-details .breakout-list .list-text-item .text{
        display : flex;
        justify-content : space-between;
        text-align : left;
    }
    .cost-breakout .breakout-details{
        padding-bottom : 0px;
    }
    .cost-breakout .breakout-details .breakout-list .list-text-item{
        padding : 10px 18px;
    }
    .cost-breakout .breakout-details .breakout-list .list-text-item.list-text-item-last {
      padding-top: 15px;
    }
    .cost-breakout .breakout-details .breakout-list .list-text-item.list-text-item-last .text {
      margin-bottom: 0px;
    }
}

@media(min-width: 500px) {
  .cost-breakout .breakout-details .breakout-chart {
    width: 50%;
  }
  .cost-breakout .breakout-details .breakout-list {
    padding: 0px;
  }

  .cost-breakout .breakout-details div[role='costlist'] {
    border-left: solid 1px #e9e9e9;
  }

  .cost-breakout .breakout-details .breakout-list-container {
    width: 45%;
  }
}

.cost-breakout .breakout-details .breakout-list .list-text-item{
    text-align:right;
    padding: 10px;
    border-bottom:1px solid #e9e9e9;
}

.cost-breakout .breakout-details .breakout-list .list-text-item span{
  padding-left: 5px;
  padding-right: 5px;
}

.text {
  font-family: 'Roboto', sans-serif;
}

.font-size-13 {
  font-size: 13px;
}

.cost-breakout .breakout-details .breakout-list .list-text-item .text{
    font-weight:500;
    /* letter-spacing: 1px; */
}
.cost-breakout .breakout-details .breakout-list .list-text-item:last-child{
    border-bottom: 0px;
}
.cost-breakout .breakout-details .breakout-list .list-text-item:last-child .text{
    font-weight:700;
}

.cost-breakout li[role='presentation'] a[role='tab'] {
  border: solid 1px #c9c9c9 !important;
  font-size: 11px;
  font-weight: 200;
  width: 110px;
  color: #000000;
}

.cost-breakout li[role='presentation'] a[role='tab'].nav-link.active {
  border: solid 1px transparent !important;
  color: #F9FAFB;
}

.cost-breakout li[role='presentation']:nth-child(1) a[role='tab'] {
  border-right: none;
}

.cost-breakout li[role='presentation']:nth-child(2) a[role='tab'] {
  border-left: none;
}

.cost-breakout ul[role='tablist'] {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

</style>
