<template>
  <div>
      <!-- Page Loader -->
      <div v-if="!isLoaded.value" class="w-100 full-page-size">
        <aside class="ls-loader-circle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </aside>
      </div>
      <div class="position-relative normal-text-color white-bg outerContainer" v-if="isLoaded.value" id="nav-scroller"
           ref="content">
           <div class="innerContainer">
                <header class="w-100 px-3 pt-3 pb-2 text-left font-smoothing boq-header brand-primary boq-header">
                    <h3 class="pt-4 pb-3 fs-24 ls-1 d-md-block font-weight-normal d-inline text-uppercase boq-name">{{data.boqDetails.display_name}}</h3>
                    <a v-if="back!=''" v-on:click="goBack()" class="float-left brand-primary btn p-0 mr-3 boq-back-link">
                        <backarrow></backarrow>
                        <span class="pl-lg-1 ls-0 d-md-inline d-none">Back to List</span>
                    </a>
                </header>
                <nav id="navbar-scroll" class="sticky-top mt-1" style="transition: all 200ms ease; scroll-behavior: smooth;">
                    <b-nav class="nav nav-pills border-bottom border-dark font-weight-bold font-smoothing fs-15 ls-0 w-100 white-bg pt-2 mb-0 pb-0 navbar-light" pills slot="header" v-b-scrollspy:nav-scroller="200">
                        <li class="nav-item pl-3 text-left">
                            <a class="nav-link web-font-bold text-333 pl-0 pr-2 mr-4 pb-2 rounded-0" href="#project-summary" @click="scrollElement('#project-summary')">Project Summary</a>
                        </li>
                        <li class="nav-item pl-3 text-left">
                            <a class="nav-link web-font-bold text-333 px-0 mr-4 pb-2 rounded-0" href="#payment-structure" @click="scrollElement('#payment-structure')">Payment Structure</a>
                        </li>
                        <li v-for="room in data.rooms.roomNames" :key="room" class="pl-3 nav-item text-left">
                            <a class="nav-link web-font-bold text-333 px-0 mr-4 pb-2 rounded-0 text-capitalize" :href="'#'+room" @click="scrollElement('#'+room)">{{room}}</a>
                        </li>
                        <li class="nav-item text-left pl-3 pr-3">
                            <a class="nav-link web-font-bold text-333 px-0 mr-4 pb-2 rounded-0" href="#terms-conditions" @click="scrollElement('#terms-conditions')">Terms and Conditions</a>
                        </li>
                    </b-nav>
                </nav>
                <section >

                  <!-- Project Details Block -->
                  <div class="light-bg">
                      <main class="white-bg">
                          <section class="personal-details">
                              <h3 class="mb-3 pt-3 pl-3 pl-sm-4 ls-0 fs-18 web-fs-22 font-weight-bold">Hello, {{data.projectDetails.customer_display_name}}</h3>
                              <p class="px-3">Here’s a tentative cost for your project. Please review and feel free to contact your Livspace designer in case of any questions.</p>
                              <div class="row no-gutters ls-boq-shadow">
                                  <div class="col-12 col-md-4 pl-3 pb-3 pb-md-4 ls-boq-shadow">
                                      <table class="table table-borderless text-333 fs-16 mb-0 less-padding">
                                          <tbody>
                                              <tr>
                                                  <td>Total:</td>
                                                  <th scope="col" class="fs-18 web-fs-22 font-weight-bold brand-primary">{{data.boqDetails.net_payable | toCurrency}}</th>
                                              </tr>
                                              <tr>
                                                  <td>Quote ID:</td>
                                                  <td scope="col" class="web-font-bold">{{data.boqDetails.id}}</td>
                                              </tr>
                                              <tr>
                                                  <td>Your quote is valid till:</td>
                                                  <td scope="col" class="web-font-bold">{{data.boqDetails.pay_by_date}}</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <div class="w-100 d-block d-md-none light-bg" style="height: 16px;"></div>
                                  <div v-if="data.primaryDesigner" class="col-12 offset-md-4 col-md-4 pb-md-4 my-3 my-md-0 pl-3 pl-md-0 pr-md-4">
                                      <h6 class="text-uppercase text-999 ls-0 fs-13">Designer details</h6>
                                      <div class="media pt-2 designer-details">
                                          <img class="rounded-circle" :src="data.primaryDesigner.image_url" alt="Designer">
                                          <div class="media-body pl-4">
                                              <h5 class="mb-2 ls-0-5">{{data.primaryDesigner.display_name}}</h5>
                                              <span><a :href="'mailto:'+data.primaryDesigner.uid" class="text-666 hover-no-udl fs-15">{{data.primaryDesigner.uid}}</a></span>
                                              <p class="pt-2 mb-0 mr-3">
                                                <span>
                                                  <a :href="'tel:+'+data.primaryDesigner.phone" class="text-666 hover-no-udl fs-15">{{data.primaryDesigner.phone}}</a>
                                                </span>
                                                <span class="position-relative float-right d-block d-sm-none" style="top: -8px">
                                                  <a :href="'tel:+'+data.primaryDesigner.phone" v-on:click="sendCallDesignerEvent(data.primaryDesigner.display_name)">
                                                    <span class="caller-btn-icon d-inline-block rounded-circle p-2 fs-16">
                                                      <callericon></callericon>
                                                    </span>
                                                  </a>
                                                </span>
                                              </p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </section>
                      </main>

                      <!-- Static livspace images block -->
                      <ls-static></ls-static>
                    </div>

                  <!-- Nav Bar Blocks -->
                  <section class="container-fluid xs-padding-mobile light-bg pt-0 pb-4">

                    <!-- Project Summary Block -->
                    <article class="mb-2 pt-2 ls-boq-shadow" id="project-summary">
                      <div class="row no-gutters sectional-heading">
                        <div class="col">
                          <h3 class="mt-4 pb-2 text-uppercase pl-3">{{data.projectSummaryData.block_heading}}</h3>
                        </div>
                      </div>
                      <div class="white-bg w-100 p-0">
                        <project-summary :data="data.projectSummaryData" ></project-summary>
                      </div>
                      <div class="mb-0 p-3 fs-16 d-flex notes-bg notes-content justify-content-between" v-b-toggle.projectSummaryCollapse >
                        <article>
                          <sup>*</sup>Taxes are included in this price.
                        </article>
                        <span class="entity-down d-block">
                          <down-arrow></down-arrow>
                        </span>
                      </div>
                      <div class="bg-gray">
                        <b-collapse id="projectSummaryCollapse">
                          <div class="notes-bg p-3 notes-content">
                            <p class="pb-2"><strong>Please note: </strong></p>
                            <p class="pb-2">These prices are subject to change and are only indicative. Final prices will be shared prior to order placement.</p>
                            <p>
                            Products refer to modular fittings, accessories, appliances, decor and marketplace furniture. </p>
                            <p>Services refer to civil work and custom furniture work.</p>
                          </div>
                        </b-collapse>
                      </div>
                    </article>
                    <!-- PAYMENT STRUCTURE Block -->
                    <article class="mb-2 pt-4 ls-boq-shadow" id="payment-structure">
                      <div class="row no-gutters sectional-heading">
                        <div class="col">
                          <h3 class="mt-0 mb-0 text-uppercase pl-3 pb-3">{{data.paymentSummary.block_heading}}</h3>
                          <p class="pl-3">Payment terms for your Livspace project<sup>1</sup></p>
                        </div>
                      </div>
                      <div class="white-bg w-100 p-0">
                        <payment-summary :data="data.paymentSummary" :summary="data.projectSummaryData"></payment-summary>
                      </div>
                      <div class="mb-0 p-3 fs-16 d-flex notes-bg notes-content justify-content-between" v-b-toggle.paymentSummaryCollapse >
                        <article>
                          Payment terms
                        </article>
                        <span class="entity-down d-block">
                          <down-arrow></down-arrow>
                        </span>
                      </div>
                      <div class="bg-gray">
                        <b-collapse id="paymentSummaryCollapse">
                          <div class="notes-bg p-3 notes-content">
                            <p class="pb-3"><sup>1</sup>Project and order: A project refers to home design undertaking for a single home. Multiple orders can be placed for a single project (for eg., one order for modular products, a separate one for services such as civil work). Payments are processed on an order level. </p>
                            <p class="pb-3"><sup>2</sup>Refunds: In case you cancel your project before placing any order(s), the booking fee is partially refunded. It is refunded as Livspace store credit only and not cash. Livspace store credit can be used to purchase select furniture and decor products. Refunds are not possible after placing an order(s). </p>
                            <p class="pb-3"><sup>3</sup>Booking fee: Your booking fee (10% payment) is adjusted against future orders. If the scope of your project increases significantly, you may be required to pay 10% for the new scope before design can begin. </p>
                            <p class="pb-3"><sup>4</sup>Core Milestone: Milestones help us track the progress of your order. Core Milestone marks the completion of an important activity at which balance 50% payment (for that order) will be due. Livspace can proceed with completing the rest of the order only after full payment is made. The following table defines Core Milestone for the different type of orders. </p>
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">Item</th>
                                  <th scope="col" >Core milestone</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td >Marketplace furniture, decor items, modular products (such as kitchen).  </td>
                                  <td >Items ready to ship</td>
                                </tr>
                                <tr>
                                  <td >Services such as civil work, custom furniture </td>
                                  <td >Defined as per project. Stated clearly in your Quote at the time of order placement.</td>
                                </tr>
                              </tbody>
                            </table>
                            <p class="pb-3"><sup>5</sup>Estimated project quote: This quote is indicative and generated based on your current requirements. As a quote is affected by the design, product, materials, colours and services you choose, it is subject to change. Please speak to your designer to understand how she/he can work around a budget.
                              Read all applicable terms and conditions <a href="https://www.livspace.com/service" class="brand-primary">here</a></p>
                          </div>
                        </b-collapse>
                      </div>
                    </article>

                    <!-- Looping through rooms -->
                    <article class="mb-2 pt-4" v-for="block in data.rooms.roomItems" :key="block.unique_name" :id="block.unique_name">
                      <room :room="block" :dataClient="dataClient"></room>
                    </article>

                  </section>

                  <!-- Terms and conditions Static block -->
                  <terms-conds id="terms-conditions" :data="data.termsCond" class="pt-4"></terms-conds>

              </section>

            </div>

      </div>
  </div>
</template>

<script>
import TermsAndConditions from './TermsAndCond.vue'
import BOQFormatter from '../services/formatter/boq.js'
import LivspaceStatic from './LivspaceStatic.vue'
import ProjectSummary from './ProjectSummary'
import PaymentSummary from './PaymentSummary'
import Room from './Room'
import BackArrow from './BackArrow'
import CallerIcon from './CallerIcon'
import DownArrow from './DownArrow'

export default {
  name: 'CustomerBOQ',
  components: {
    'terms-conds': TermsAndConditions,
    'ls-static': LivspaceStatic,
    'project-summary': ProjectSummary,
    'payment-summary': PaymentSummary,
    'room': Room,
    'backarrow': BackArrow,
    'callericon': CallerIcon,
    'down-arrow': DownArrow
  },
  props:{
    dataClient:{
      type: Object,
      required: true,
    },
    boqId:{
      type: String,
      required: true,
    },
    back:{
      type: String,
      required: false,
      default: '/boqs'
    }
  }
  ,
  data () {
    return {
      isLoaded: {
        value: false
      },
      rootData: {},
      ignoreScroll: false,
      ignoreScrollElement: null
    }
  },
  beforeMount: function () {
    // console.log("created hook"+this.doamin+this.project_id+this.boq_id);
    var formatter = new BOQFormatter(this.dataClient)
    formatter.setFormattedData(this.boqId, this.isLoaded)
    var data = formatter.getData()
    this.data = data
    this.rootData = data
  },
  methods: {
    scrollElement (element) {
      this.ignoreScrollElement = element
      this.ignoreScroll = true

      //publishing event
      var data = {};
      data["actionName"] = "Customer - Quote - Navigation Item Clicked";
      data["Quote ID"] = this.boqId;
      data["Navigation Item Name"] = element;
      this.$emit('user-boq-action', data);
    },
    goBack () {
      if(this.back !="")
        this.$router.push(this.back)
    },
    numberWithCommas (x) {
      return x.toLocaleString('hi')
    },
    onActivate (target) {
      if (target === this.ignoreScrollElement) {
        this.ignoreScroll = false
        this.ignoreScrollElement = null
      }

      if (this.ignoreScroll) { return }
      let bodyWidth = document.body.clientWidth
      let scrollElementWidth = document.querySelectorAll('[href="' + target + '"]')[0].parentNode.parentNode.offsetWidth
      if (scrollElementWidth > bodyWidth) {
        let left = document.querySelectorAll('[href="' + target + '"]')[0].parentNode.offsetLeft
        document.querySelectorAll('[href="' + target + '"]')[0].parentNode.parentNode.parentNode.scrollLeft = left
      }
    },
    sendCallDesignerEvent(name){
      var data = {};
      data["actionName"] = "Customer - Quote - Call Designer";
      data["Quote ID"] = this.boqId;
      data["Designer Name"] = name;
      this.$emit('user-boq-action', data);
    }
  },
  created () {
    this.$root.$on('bv::scrollspy::activate', this.onActivate)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  /* Refactored */
  div.collapsed span.entity-down {
    -webkit-transform: rotate(0deg);
    -moz-transform:    rotate(0deg);
    -ms-transform:     rotate(0deg);
    -o-transform:      rotate(0deg);
    transform:         rotate(0deg);
    transition: all 400ms ease;
  }
  div span.entity-down {
    -webkit-transform: rotate(180deg);
    -moz-transform:    rotate(180deg);
    -ms-transform:     rotate(180deg);
    -o-transform:      rotate(180deg);
    transform:         rotate(180deg);
    transition: all 400ms ease;
  }

  div.f-weight-toggle.collapsed {
    font-weight: normal;
  }

  div.f-weight-toggle  {
    font-weight: bold;
  }
  .border-bottom-toggle.collapsed {
    border-bottom: none;
  }

  .border-bottom-toggle {
    border-bottom: 1px solid #dee2e6!important;
  }
  .border-top-toggle.collapsed {
    border-top: none;
  }
  div.border-bottom-last-child-toggle {
    border-bottom: 1px solid #dee2e6;
  }
  div.border-bottom-last-child-toggle:last-child {
    border-bottom: none !important;
  }

  .border-top-toggle {
    border-top: 1px solid #dee2e6!important;
  }

  @media (max-width: 768px) {
    div.f-xs-weight-toggle.collapsed {
      font-weight: normal;
    }

    div.f-xs-weight-toggle  {
      font-weight: bold;
    }
  }

  .brand-primary {
    color: #F74861;
  }
  .brand-primary:hover {
    color: rgba(247,72,97,0.8);
  }
  .brand-primary-bg {
    background-color: #F74861;
  }
  .white-bg {
    background-color: white;
  }
  .light-bg {
    background-color: #e9e9e9;
  }
  .text-333 {
    color: #333;
  }
  .text-666 {
    color: #666;
  }
  .text-999 {
    color: #999;
  }
  .font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .ls-0 {
    letter-spacing: 0;
  }
  .ls-0-5 {
    letter-spacing: 0.03125rem;
  }
  .ls-1 {
    letter-spacing: 0.0625rem;
  }
  .fs-9 {
    font-size: 0.5625rem;
  }
  .fs-10 {
    font-size: 0.625rem;
  }
  .fs-11 {
    font-size: 0.6875rem;
  }
  .fs-12 {
    font-size: 0.75rem;
  }
  .fs-13 {
    font-size: 0.8125rem;
  }
  .fs-14 {
    font-size: 0.875rem;
  }
  .fs-15 {
    font-size: 0.9375rem;
  }
  .fs-16 {
    font-size: 1rem;
  }
  .fs-18 {
    font-size: 1.125rem;
  }
  .fs-20 {
    font-size: 1.25rem;
  }
  .fs-22 {
    font-size: 1.375rem;
  }
  .fs-24 {
    font-size: 1.5rem;
  }
  .lh-17 {
    line-height: 1.0625rem;
  }
  .lh-1 {
    line-height: 1;
  }
  .mb-6-px {
    margin-bottom: 6px !important;
  }
  .mt-20-px {
    margin-top: 20px !important;
  }
  .py-20-px {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  header.boq-header a {
    font-size: 20px;
    line-height: 24px;
  }
  @media (min-width: 768px) {
    header.boq-header a {
      font-size: 12px;
    }
  }
  nav#navbar-scroll {
    min-width: 100%;
    overflow-x: auto;
  }
  nav#navbar-scroll ul.nav-pills {
    min-width: 100%;
  }
  @media (max-width: 1920px) {
    nav#navbar-scroll ul.nav-pills {
      min-width: 1920px;
    }
  }
  nav#navbar-scroll ul.nav-pills a.nav-link.active {
    background: transparent;
    color: #F74861;
    border-bottom: 2px solid #F74861;
    position: relative;
    top: 1px;
  }
  nav#navbar-scroll ul.nav-pills a.nav-link:hover {
    color: rgba(247,72,97,0.8);
  }
  .designer-details img.rounded-circle {
    max-width: 48px;
  }
  .designer-details a:hover {
    color: #666;
  }
  a.hover-no-udl:hover {
    text-decoration: none;
  }
  @media (max-width: 768px) {
    .personal-details .table th, .personal-details .table td {
      padding: 0.25rem;
    }
  }
  .max-w-300 {
    max-width: 300px;
  }
  .max-w-250 {
    max-width: 250px;
  }
  .max-w-200 {
    max-width: 200px;
  }
  .max-w-105 {
    max-width: 105px;
  }
  .max-w-65 {
    max-width: 65px;
  }
  .max-w-50 {
    max-width: 50px;
  }
  .max-w-25 {
    max-width: 25px;
  }
  div.sectional-heading div.col h3 {
    font-size: 22px;
    letter-spacing: 1px;
  }
  div.sectional-heading div.col h4 {
    font-size: 20px;
    letter-spacing: 0.5px;
  }

  @media (min-width: 576px) {
    div.sectional-heading div.col h3 {
      font-size: 30px;
    }
    div.sectional-heading div.col h3 {
      font-size: 26px;
    }
  }
  .up-arrow {
    box-sizing: border-box;
    margin-top: 0.5rem;
    height: 24px;
    width: 24px;
    border-style: double;
    border-color: #F74861;
    border-width: 4px 0 0 4px;
    transform: rotate(45deg);
  }
  .down-arrow {
    box-sizing: border-box;
    margin-top: -0.33rem;
    height: 24px;
    width: 24px;
    border-style: double;
    border-color: #F74861;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
  }
  @media(max-width: 576px) {
    .no-padding-mobile {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .xs-padding-mobile {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
  .modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (max-width: 576px) {
    .modal-dialog {
      margin: 0;
    }
  }
  .modal-content{
    height: 100vh;
    overflow: scroll;
  }
  .overflow-scroll {
    overflow: scroll;
  }
  .overflow-x-scroll {
    overflow-x: scroll;
  }
  article#payment-structure {
    max-width: 650px;
  }
  /* div.row.no-gutters.border-bottom.p-3:last-child {
      border-bottom: none;
  } */

  /* Background color light grey */
  .bg-light-grey {
    background-color: #f5f5f5 !important;
  }

  .normal-text-color {
    color: rgb(61,61,61) !important;
  }
  table.table.less-padding td, table.table.less-padding th {
    padding: 0.5rem;
  }
  @media (max-width: 768px) {
    table.table.less-padding td, table.table.less-padding th {
      padding: 0.25rem 0.25rem 0.25rem 0;
    }
  }
  .ls-loader-circle {
    display: inline-block;
    position: relative;
    width: inherit;
    height: inherit;
  }
  #nav-scroller {
    /* height:calc(100vh - 57px); */
    height: 100vh;
    overflow-y:scroll;
    scroll-behavior: smooth;
  }
  .web-font-bold {
    font-weight: normal;
  }
  .mob-font-bold {
    font-weight: bold;
  }
  @media (min-width: 576px) {
    .web-font-bold {
      font-weight: bold;
    }
    .mob-font-bold {
      font-weight: normal;
    }
    .web-fs-22 {
      font-size: 22px;
    }
  }
  .full-page-size {
    height: 100vh;
  }
  .ls-loader-circle div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 38px);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    margin: 6px;
    border: 6px solid #F74861;
    border-radius: 50%;
    animation: ls-loader-circle 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #F74861 transparent transparent transparent;
  }
  .ls-loader-circle div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .ls-loader-circle div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .ls-loader-circle div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes ls-loader-circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .card, .card-header {
    border-radius: 0 !important;
    border: none !important;
  }
  .ls-boq-shadow {
    box-shadow: 0 1px 0 #D9D9D9;
  }
  .caller-btn-icon {
    height: 34px;
    width: 34px;
    background-color: rgba(242,242,242,1);
  }
  .caller-btn-icon svg {
    position: relative;
    top: -4px;
    right: -2px;
  }
  .p-8{
    padding: 8px;
  }
  .notes-bg {
    background-color: #f0f0f0 !important;
  }
  .notes-content {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: normal;
    color: #3D3D3D;
  }
  .notes-content p {
    margin-bottom: 0;
  }
  .notes-table-cell {
    background-color: #EEE
  }
  .notes-content sup{
    padding: 5px 5px 5px 0;
  }
  .table, .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
  }
  .table-striped tbody tr:nth-of-type(even) {
    background-color: #e5e5e5;
  }
</style>
