<template>
  <transition name="drawer">
    <div id="drawer"
      :class="{open: open}"
      v-if="open"
      v-on:click.self="closeDrawer">
        <div class="drawer-body">
            <div v-if="isLoaded.value">
              <div class="back-nav-container" @click="closeDrawer">
                <div class="btn-close">
                  <back></back>
                </div>
                <div style="color: #D0021B; margin-left: 5px;">Back to sections</div>
              </div>
                <div class="header">
                    <span class="header-text">{{roomDetails.display_name}}</span>
                    <span class="header-text">{{roomDetails.total | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</span>
                </div>
                <div v-if="roomDetails.images.length>0" class="img-carousel">
                  <Carousel :images="roomDetails.images" />
                    <!-- <h4 class="hash-tags">
                      <span v-for="tag in roomDetails.tags"> #{{tag.name}} </span>
                    </h4>
                    <p class="text">{{roomDetails.description}}</p> -->
                </div>
                <CostList
                  :listElements="getScopesWithTotal(roomDetails.scopes)"
                  :showchevron="false"
                  :formatter="formatter"
                  :compact="true"/>
                <div role="spacer" style="height: 15px;"></div>
                <div class="room-sections">
                <div style="margin-bottom : 30px;" v-for="(value, propertyName) in roomDetails.scopes" v-if="value.skus.length>0">
                    <div class="tag">
                        <h5 class="tag-name">
                            <span>{{propertyName}}</span>
                        </h5>
                        <h5 class="tag-price">{{value.total | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</h5>
                    </div>
                    <div class="room-section-type" >
                        <div v-for="(sku,index) in value.skus" class="product-tile"  style="background-color: #f6f7f7;">
                            <div class="product-tile-wrap" style="height:150px;padding:10px;border-bottom: solid 1px transparent;">
                                <div class="product-image" style="margin-right: 26px;">
                                    <img :src="roomDetails.items.get(sku)['cover_image_url']" alt="" onError="javascript:this.onerror=null;this.src='https://cdn.livmatrix.com//img/logos/ruby/livspace-square.png';">
                                </div>
                                <div class="product-body">
                                    <p class="product-info" style="font-weight: 700;">
                                        <span class="label-box">{{roomDetails.items.get(sku)['display_name']}}</span>
                                        <span>{{value.skuPrice.get(sku)*value.skuQuantity.get(sku) | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</span>
                                        <!-- <span v-if="window.width > 500">{{roomDetails.items.get(sku)['price'] | toCurrency}}</span> -->
                                    </p>
                                    <div style="display: flex; flex-direction: column; align-items: flex-start;">

                                      <div class="product-price" style="display: flex;justify-content: space-between;padding-right: 10px; align-items: flex-end; margin-bottom: 10px;">
                                        <div>                                            

                                          <p style="font-size: 12px;margin-bottom: 0px;color: #585858;">
                                              <span>Qty: {{value.skuQuantity.get(sku)}}</span>
                                          </p>
                                          <p style="font-size: 12px;margin-bottom: 0px;color: #585858;">
                                              <span>Unit Price: {{value.skuPrice.get(sku) | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</span>
                                          </p>
                                          <p style="font-size: 12px;margin-bottom: 0px;color: #585858;" v-if="roomDetails.items.get(sku).sku_definition?JSON.parse(roomDetails.items.get(sku).sku_definition).measurement?true:false:false">
                                              <span>Measurment({{JSON.parse(roomDetails.items.get(sku).sku_definition).unit}}): {{JSON.parse(roomDetails.items.get(sku).sku_definition).measurement}}</span>
                                          </p>
                                          <p  v-if="!value.children" class="product-price" style="display: flex;justify-content: space-between;padding-right: 10px;">
                                              <span @click="openProductDetails(sku)" class="go-to-details">Details <span class="glyphicon glyphicon-menu-right"></span> </span>
                                          </p>
                                        </div>
                                      </div>
                                      <b-button v-if="value.children" v-b-toggle="'collapse'+sku"  class="go-to-details toggle-btn">Toggle details</b-button>
                                    </div>
                                </div>
                            </div>
                            <b-collapse v-if="value.children" visible :id="'collapse'+sku">
                                <b-card>
                                <div v-for="child in value.children.get(sku)" class="product-tile" >
                                    <div class="product-tile-wrap">
                                        <div class="product-image" style="margin-right: 15px;">
                                            <img :src="roomDetails.items.get(child.sku_code)['cover_image_url']" alt="product">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-info" style="font-weight: 700;">
                                                <span class="label-box">{{roomDetails.items.get(child.sku_code)['display_name']}}</span>
                                                <span>{{value.childSkuPrices.get(child.sku_code)*child.quantity | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</span>
                                            </p>
                                            <p style="font-size: 12px;margin-bottom: 0px;color: #585858;">
                                                <span>Qty: {{child.quantity}}</span>
                                            </p>
                                            <p style="font-size: 12px;margin-bottom: 0px;color: #585858;">
                                                <span>Unit Price: {{value.childSkuPrices.get(child.sku_code) | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</span>
                                            </p>
                                            <!-- {{roomDetails.items.get(child.sku_code)}}
                                            <p style="font-size: 12px;margin-bottom: 0px;color: #585858;">
                                                <span>Unit Price: {{value.childSkuPrices.get(child.sku_code) | toCurrency(formatter.currencyType, formatter.countryISOCode)}}</span>
                                            </p> -->
                                            <p class="product-price" style="display: flex;justify-content: space-between;padding-right: 10px;">
                                                <span @click="openProductDetails(child.sku_code)" class="go-to-details">Details <span class="glyphicon glyphicon-menu-right"></span> </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                </b-card>
                            </b-collapse>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div v-if="!isLoaded.value" style="text-align:center; height: 100vh;">
                <div  class="ls-loader-circle">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <ProductDetails v-if="isProductDetailsOpen" @closeProductDetails="closeProductDetailsFn" :open="isProductDetailsOpen" :product="roomDetails.items.get(selectedProduct)" />
    </div>
  </transition>
</template>

<script>
    import Carousel from './LsCarousel.vue'
    import ProductDetails from './ProductDetails.vue'
    import { scopeColors } from './CostBreakout'
    import CostList from './CostList'
    import back from './back.vue'


    export default {

        props : {
            open : Boolean,
            content : Number,
            formatter : Object,
            roomId : Number
        },
        components : {
            Carousel,
            ProductDetails,
            CostList,
            back
        },
        data(){
            return {
                isProductDetailsOpen : false,
                window : {
                    width : window.innerWidth
                },
                roomDetails: {},
                isLoaded: {
                  value: false
                },
                selectedProduct : null
            }
        },
        methods : {
            closeDrawer(){
                this.$emit('closeDrawer');
                this.isLoaded.value = false;
            },
            openProductDetails(sku){
                this.isProductDetailsOpen = true;
                this.selectedProduct = sku
            },
            closeProductDetailsFn(){
                this.isProductDetailsOpen = false;
            },
            getScopesWithTotal(scopes) {
              return Object.entries(scopes)
                .filter(([name, value]) => !!value.total)
                .map(([name, value]) => {
                  return {
                    currencyvalue: value.total,
                    name,
                    color: scopeColors[name.toUpperCase()] || "#2A465B"
                  }
                })
            }
        },
        watch: {
            open : function( val ){
                console.log( val );
                if( val ){
                    this.roomDetails = this.formatter.getRoomDetails(this.roomId, this.isLoaded);
                }
            }
        }
    }
</script>

<style>
    .toggle-btn{
        background-color: transparent;
        border : 0;
        padding : 0;
    }
    .toggle-btn:focus{
        outline : none !important;
        box-shadow: none !important;
    }
    .toggle-btn:hover{
        background-color : transparent !important;
    }
    .toggle-btn:active{
        color : #cf021a !important;
        background-color : transparent !important;
        border-color : transparent !important;
        box-shadow: none !important;
    }
    .room-section-type{
        /* border : 1px solid #d6d6d6; */
        border-radius : 5px;
        display : flex;
        flex-wrap : wrap;
    }
    .drawer-body .back-nav-container {
      display: flex;
      align-items: center;
      font-size: 12px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px gainsboro;
    }
    .drawer-body .back-nav-container:hover,
    .drawer-body .back-nav-container:active {
      background-color: gainsboro;
    }
    .drawer-body .header {
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      justify-content: space-between;
      padding-top: 10px;

    }
    .room-sections {
      border-top: solid 1px gainsboro;
    }

    @media (max-width : 500px){
        #drawer{
            position : fixed;
            left : 0;
            right : 0;
            top : 100vh;
            bottom : 0;
            background-color : rgba(0,0,0,0.5);
            overflow-y: scroll;
            transition: all 0.2s ease-in-out;
            font-size : 18px;
            z-index: 1111111;
        }
        #drawer .drawer-body{
            min-height : 100%;
        }
        .open{
            top : 0 !important;
        }
    }
    @media (min-width : 500px){
      .drawer-body .header {
        padding-left: 30px;
        padding-right: 30px;
      }

      #drawer {
          position : fixed;
          /* right : -100%; */
          top : 0;
          bottom : 0;
          width : 100%;
          box-shadow : 0px 0px 15px #cfcfcf;
          background-color: rgba(0,0,0,0.5);
          overflow-y: scroll;
          /* transition: all 0.2s ease-in-out; */
          font-size : 18px;
          z-index: 1111111;
      }

      #drawer.drawer-enter-active {
        animation: drawerbackgroundfadein 300ms ease-out;
        animation-iteration-count: 1;
      }

      #drawer.drawer-leave-active {
        animation: drawerbackgroundfadein reverse 300ms ease-out;
        animation-iteration-count: 1;
        animation-delay: 300ms;
      }

      .drawer-body {
          width: 70%;
          margin-left: 30%;
          border-radius: 0px !important;
          margin-top: 0px !important;
          position: relative;
          height : 100%;
          overflow : scroll;
      }

      #drawer.drawer-enter-active .drawer-body{
        animation: drawermenuslidein 400ms ease-out;
        animation-fill-mode: forwards;
      }

      #drawer.drawer-leave-active .drawer-body{
        animation: drawermenuslidein reverse 400ms ease-out;
        animation-delay: 0ms;
        animation-fill-mode: forwards;
      }

      .drawer-body .header{
          background: #fff;
      }

      .img-carousel{
        padding : 30px !important;
      }

      #drawer div[role='costlist'] {
        padding: 15px !important;
      }
    }


    .drawer-body{
        background-color : #fff;
        /* margin-top : 100px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; */
        padding-bottom: 50px;
    }
    .drawer-body .header{
        position : relative;
    }
    .drawer-body .header .header-text{
        font-size : 1em;
        font-weight : bold;
    }
    .drawer-body .btn-close{
      /* background-image: url("../assets/back.svg"); */
      width: 20px;
      /* height: 20px; */
      background-position-x: 0px;
      background-position-y: 0px;
      background-size: 100%;
      background-size: 20px;
      margin-left: 15px;
    }
    .img-carousel{
        padding : 15px;
    }
    .img-carousel .hash-tags{
        font-size : 0.8em;
        color : #000;
        margin : 15px 0px;
    }
    .img-carousel .text{
        color : #787878;
        font-size : 14px;
    }
    .room-card .tags .tag {
    display: flex;
    justify-content: space-between;
  }
  .room-sections{
    padding : 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .room-sections .tag {
    display: flex;
    justify-content: space-between;
    margin-bottom : 5px;
  }
  .room-sections .tag .tag-name,.tag-price{
      font-size : 1em;
  }
  .room-sections .tag .tag-name .color{
    width: 15px;
    height: 15px;
    background-color: red;
    display: inline-block;
    border-radius: 2px;
    margin-right: 10px;
}
.room-sections .tag .tag-name span{
    text-transform : capitalize;
}
/*
.product-tile{
    display: inline-block;
    margin: 10px;
    max-width : 44%;
    background-color : #fff;
    padding : 5px;
}

@media (max-width : 500px ){
    .product-tile .product-image img{
        width : 100%;
        height : 100%;
    }
}*/

    .product-tile{
        max-width  : 100%;
        align-items : center;
        flex-basis : 100%;
        margin-bottom: 16px;
    }
    .product-tile:nth-last-child(1) {
      margin-bottom: 0px;
    }
    .product-tile .product-tile-wrap{
        display : flex;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 16px;
    }
    .product-tile .product-image{
        width: 130px;
        height: 100%;
    }
    .product-tile .product-image img{
        width : inherit;
        height : inherit;
    }
    .product-tile .product-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow : 1;
    }
    .product-tile .product-body .product-info{
        display: flex;
        justify-content: space-between;
        font-size : 0.7em;
    }
    .product-tile .product-body .product-info span:last-child{
        flex-basis : 30%;
        text-align : right;
        padding-right : 10px;
    }

/*
.product-tile .product-price{
    display: flex;
    justify-content: space-between;
}*/
.product-tile .product-price .price{
    font-size : 10px;
    color : #4f4f4f;
}
.product-tile .product-price .go-to-details,
.product-tile .go-to-details
{
    font-size : 10px;
    color : #cf021a;
}
.product-tile .product-info{
    color: #585858;
    font-size: 10px;
}

.ls-loader-circle {
  display: inline-block;
  position: relative;
  width: inherit;
  height: inherit;
}

.ls-loader-circle div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 38px);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  margin: 6px;
  border: 6px solid #F74861;
  border-radius: 50%;
  animation: ls-loader-circle 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #F74861 transparent transparent transparent;
}
.ls-loader-circle div:nth-child(1) {
  animation-delay: -0.45s;
}
.ls-loader-circle div:nth-child(2) {
  animation-delay: -0.3s;
}
.ls-loader-circle div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ls-loader-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes drawerbackgroundfadein {
  0% {
    background-color: rgba(0,0,0,0);
    right: -100%;
  }
  1% {
    background-color: rgba(0,0,0,0);
    right: 0px;
  }
  100% {
    background-color: rgba(0,0,0,0.5);
    right: 0px;
  }
}

@keyframes drawermenuslidein {
  0% {
    right: -100%;
  }
  100% {
    right: 0px;
  }
}
@media (max-width : 500px){
  .label-box{
    max-width: 70px;
    max-height: 38px;
    overflow: scroll;
  }
}
@media (min-width : 500px){
  .label-box{
    max-width: 800px;
    overflow: scroll;
  }
}

</style>
