<template>
  <div v-if="data.code" class="" role="document">
      <div class="border-0">
          <h5 class="fs-16 normal-text-color mb-0 pb-3 font-weight-normal" id="ModularProductsModalCenterTitle">
              {{data.display_name}}
          </h5>
          <div class="modal-body px-0">
              <div class="row no-gutters">
                  <div class="col-12 pb-3 border-bottom">
                      <figure class="text-center">
                          <img :src="coverImage" alt="Image Base"
                            class="image-fluid mw-100">
                          <div class="d-flex mw-100 justify-content-center pt-4 pb-2 mx-auto overflow-x-scroll">
                            <figcaption v-for="(imageObj, key) in data.images" :key="key" class="px-1">
                              <div v-on:click="changeImage(imageObj.image_links.large)">
                              <img :src="imageObj.image_links.small"
                                alt="" onError="this.onerror=null;this.style='display:none;';" class="image-fluid max-w-50 border">
                              </div>
                            </figcaption>
                          </div>
                      </figure>
                  </div>
                  <div class="col-12 py-3 border-bottom normal-text-color">
                    <h5 class="fs-16 mb-3 font-weight-bold">
                        {{data.display_name}}
                    </h5>
                    <p class="mt-1 mb-0 fs-16 font-weight-normal">
                      <span class="">&#8377;{{data.price}}</span>
                    </p>
                  </div>
                  <div v-if="defaultVendor.display_name" class="col-12 py-3 border-bottom normal-text-color">
                    <h5 class="fs-16 mb-3 font-weight-bold">
                        Sold by :
                    </h5>
                    <p class="mt-1 mb-0 fs-16 font-weight-normal">
                      <span class="">{{defaultVendor.display_name}}</span>
                    </p>
                  </div>
                  <div v-if="itemBrand" class="col-12 py-3 border-bottom normal-text-color">
                    <h5 class="fs-16 mb-3 font-weight-bold">
                        Brand :
                    </h5>
                    <p class="mt-1 mb-0 fs-16 font-weight-normal">
                      <span class="">{{itemBrand}}</span>
                    </p>
                  </div>
                  <div class="col-12 pt-3 ls-0-5">
                      <h5 class="fs-16 normal-text-color mb-3 font-weight-bold">Product Information</h5>
                      <div class="row no-gutters fs-14">
                          <div class="col-6 pb-3 pr-2">
                              <p class="mb-0" style="color: #888;">Dimension W x D x H (mm) :</p>
                          </div>
                          <div class="col-6 pb-3">
                              <div v-if="data.dimensions" class="mb-0 normal-text-color">{{data.dimensions.width+ "x"+ data.dimensions.depth+"x"+data.dimensions.height}}</div>
                              <div v-else class="mb-0 normal-text-color">N/A</div>
                          </div>
                      </div>
                      <div v-for="(field, key) in data.fields" :key="key" class="row no-gutters fs-14">
                        <div class="col-6 pb-3 pr-2">
                            <p class="mb-0" style="color: #888;">{{field.display_name}}</p>
                        </div>
                        <div class="col-6 pb-3">
                            <div class="mb-0 normal-text-color">
                              <div class="media">
                                <img :src="field.option.swatch_image_url" class="img-fluid max-w-25 pr-2" alt="">
                                <div class="media-body mb-0 normal-text-color">
                                  {{field.option.display_name}}
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'ItemDetailModal',
  props: {
    data: {
      type: Object,
      required: true
    },
    dataClient:{
      type: Object,
      required: true,
    }
  },
  data () {
    return {
      coverImage: null,
      defaultVendor: "",
      itemBrand : ""
    }
  },
  methods: {
    changeImage (image) {
      this.coverImage = image
    }
  },
  beforeMount () {
    var that = this;
    this.coverImage = this.data.cover_image_url
    this.dataClient.getVendorDetails(this.data.code).then(function(resp){
      var details = resp.data;
      details.records.forEach(function(record){
        if(record.default){
          that.defaultVendor = record.vendor_by_vendor_id;
        }
      });
    });
    this.data.features.forEach(function(feature){
      if(feature.feature=="Brand"){
        that.itemBrand = feature.value[0];
      }
    });
  }
}
</script>
<style scoped>
  .modal-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
</style>
