<template>
  <div class="card-body p-0" style="background-color: white;">
    <div class="row no-gutters p-3 font-weight-bold d-md-flex d-none d-sm-block">
        <div class="col">
            <p class="mb-0 fs-16">Item Name</p>
        </div>
        <div class="col text-right">
            <p class="mb-0 fs-16">Price</p>
        </div>
    </div>
    <div v-for="(itemdash, key) in data.items" :key="key" class="d-flex flex-column border-bottom-last-child-toggle">
      <div v-if="itemdash.metaData" class="row no-gutters py-1 px-2 f-weight-toggle" @click="showCollapse = !showCollapse" v-b-toggle="'modular-collapse-'+itemdash.id+key">
        <b-modal :id="'modal'+itemdash.metaData.code+key" :hide-footer="hideFooter" header-class="border-bottom-0" size="lg">
          <item-detail-modal :data="itemdash.metaData" :dataClient="dataClient"></item-detail-modal>
        </b-modal>
          <div class="media col p-2">
              <img class="img-fluid d-none d-sm-block pr-2" style="max-width:100px;" v-bind:src="itemdash.metaData.cover_image_url" alt="" onError="this.onerror=null;this.src='https://cdn.livmatrix.com//img/logos/ruby/livspace-square.png';">
              <div v-b-modal="'modal'+itemdash.metaData.code" class="media-body">
                <p class="mb-0">{{itemdash.metaData.display_name}}</p>
                <button class="btn btn-link brand-primary mb-0 fs-13 pl-0" v-b-modal="'modal'+itemdash.metaData.code+key" @click.stop="stopTheEvent">View Details</button>
              </div>
          </div>
          <div class="col text-right p-2 d-flex flex-column justify-content-between">
              <p class="mb-0">{{itemdash.sub_total | toCurrency}}</p>
              <button  v-if="!showCollapse" class="btn btn-link brand-primary mb-0 fs-13 ml-auto pr-0">Expand</button>
              <button  v-if="showCollapse" class="btn btn-link brand-primary mb-0 fs-13 ml-auto pr-0">Collapse</button>
          </div>
      </div>

      <div v-if="itemdash.children" class="d-flex flex-column mx-3">

        <b-collapse :id="'modular-collapse-'+itemdash.id+key" class="bg-light-grey my-3 py-3" style="max-height:400px;overflow:auto;">
         <generic-sku-list :data="itemdash.children" :dataClient="dataClient"></generic-sku-list>

         </b-collapse>
         <!-- <b-modal :id="'modular-modal-'+item.id+key" hide-footer="true">
           <modular-modal :data="item.children"></modular-modal>
         </b-modal> -->
     </div>

    </div>

  </div>
</template>
<script>

import GenericSkuList from './GenericSkuList'
import ItemDetailModal from './ItemDetailModal.vue'

export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    dataClient:{
      type: Object,
      required: true,
    }
  },
  components: {GenericSkuList, ItemDetailModal},
  methods: {
    stopTheEvent (event) {
      event.stopPropagation()
    }
  },
  data () {
    return {
      hideFooter: true,
      showCollapse: false
    }
  }

}
</script>
