<template>
  <div>
    <div class="row no-gutters border-bottom p-3">
        <div class="col" v-for="column in data.fields" :class="column.class">
            <p class="mb-0 fs-16">{{column.label}}</p>
        </div>
    </div>
    <div v-for="item in data.items">
      <div class="row no-gutters border-bottom p-3" >
          <div class="col" v-for="column in data.fields" :class="column.class">
              <table-element :items="item[column.key]"></table-element>
          </div>
      </div>
    </div>
  </div>
</template>

<script>

import TableElement from './TableElement.vue'
export default {
  name: 'ModularModal',
  components: {
    'table-element': TableElement
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
    }
  },
  methods: {
    columnExists (fields, key) {
      fields.forEach(function (item) {
        if (item.key === key) { return true }
      })
      return false
    }
  }
}
</script>
