<template>
  <div class="card ls-boq-shadow">
      <div class="card-header white-bg py-0">
          <div class="mb-0 py-3 fs-16 d-flex f-weight-toggle" v-b-toggle="'collapse'+data.unique_id">
              {{data.heading}}
              <span v-if="data.total_price" class="ml-auto pr-3">{{data.total_price | toCurrency}}</span>
              <span class="entity-down">
                <down-arrow></down-arrow>
              </span>
          </div>
      </div>
      <b-collapse :id="'collapse'+data.unique_id" :visible="!data.heading" class="white-bg border-top-toggle">
        <retry-loader v-if="!isLoaded.value" :is-loaded="isLoaded" @retry="refreshSkuList"></retry-loader>
        <modular-sku-list v-else :data="data" :dataClient="dataClient"></modular-sku-list>
      </b-collapse>
    </div>
</template>
<script>
import DownArrow from './DownArrow'
import ModularSkuList from './ModularSkuList'
import fetchSku from '../mixins/sku.js'
export default {
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  components: {ModularSkuList, DownArrow},
  mixins: [fetchSku]
}
</script>
