<template>
  <div v-html="formatter.boqDetails.project.boq_payment_stages">   
  </div>
</template>
<script>

export default {
  props:{
    formatter:{
      type: Object,
      required: true,
    },
    subs:{
      type: Boolean,
      default: false,
    }
  },
  data () {
    return {
      summaryDetails: {},
      tenPercent: 0,
      fiftyPercent: 0,
      complete: 0
    }
  },
  beforeMount: function(){
    this.summaryDetails = this.formatter.getSummaryDetails()
    this.tenPercent = Math.round(this.summaryDetails.totalPrice*0.1);
    this.fiftyPercent = Math.round(this.summaryDetails.totalPrice*0.4);
    this.complete = Math.round(this.summaryDetails.totalPrice*0.5);
  }
}
</script>

<style scoped>
  .subtext {

  }
</style>
