<template>
  <div class="card-body p-0" style="background-color: white; border-bottom: none;">
    <!-- <div class="row no-gutters border-bottom p-3 font-weight-bold">
        <div class="col-2">
            <p class="mb-0" >No.</p>
        </div>
        <div class="col">
            <p class="mb-0" >Milestone</p>
        </div>
        <div class="col text-right">
            <p class="mb-0" >Amount Payable</p>
        </div>
    </div> -->
    <!-- <div v-for="(itemdash, key) in data.items" :key="key" class="d-flex flex-column">
      <div class="row no-gutters border-bottom py-1 px-2">
          <div class="col-2 p-2">
              <p class="mb-0">{{itemdash.no}}</p>
          </div>
          <div class="col p-2">
              <p class="mb-0">{{itemdash.display_name }}</p>
          </div>
          <div class="col p-2 text-right">
              <p class="mb-0">{{itemdash.payable | toCurrency}}</p>
          </div>
      </div>
    </div> -->
    <div class="d-flex flex-column">
      <div class="row no-gutters border-bottom py-1 px-2">
          <div class="col-6 p-2">
              <p class="mb-0">Refundable<sup>2</sup> booking fee<sup>3</sup></p>
          </div>
          <div class="col-1 p-2">
              <p class="mb-0">10%</p>
          </div>
          <div class="col-5 p-2 text-right">
              <p class="mb-0">{{ data.total_price*0.1 | toCurrency}}</p>
          </div>
      </div>
    </div>
      <div class="d-flex flex-column">
        <div class="row no-gutters border-bottom py-1 px-2">
            <div class="col-6 p-2">
                <p class="mb-0">Place order(s)</p>
            </div>
            <div class="col-1 p-2">
                <p class="mb-0">40%</p>
            </div>
            <div class="col-5 p-2 text-right">
                <p class="mb-0">{{ data.total_price*0.4 | toCurrency}}</p>
            </div>
        </div>
      </div>
        <div class="d-flex flex-column">
          <div class="row no-gutters border-bottom py-1 px-2">
              <div class="col-6 p-2">
                  <p class="mb-0">Core Milestone<sup>4</sup> is complete</p>
              </div>
              <div class="col-1 p-2">
                  <p class="mb-0">50%</p>
              </div>
              <div class="col-5 p-2 text-right">
                  <p class="mb-0">{{ data.total_price*0.5 | toCurrency}}</p>
              </div>
          </div>
        </div>
    <div class="row border-bottom no-gutters py-3 px-3">
      <div class="col-6 text-left">
        <span><strong class="float-left">Estimated project quote<sup>5</sup></strong></span>
      </div>
      <div class="col-6 text-right">
        <span><strong >{{summary.total | toCurrency}}</strong></span>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    summary: {
      type: Object,
      required: true
    }
  }
}
</script>
