<template>
<div>
  <div class="row no-gutters sectional-heading">
    <div class="col">
      <h3 class="mt-0 mb-0 text-uppercase pl-3 pb-3">{{room.display_name}}</h3>
    </div>
    <div class="col heading-price">
      <h3 class="mt-0 mb-0 text-uppercase text-right pr-3 pb-3">{{room.total_price | toCurrency}}</h3>
    </div>
  </div>
    <section class="w-100 mt-0 w-100 pb-0">
      <article v-for="(category, key) in room.itemGroups" :key="key" class="pb-2">
        <div v-if="category.items.length>0">
          <modular-section v-if="category.unique_name==='modular'" :data="category" :dataClient="dataClient" ></modular-section>
          <civil-section v-else-if="category.unique_name==='civil'" :data="category" :dataClient="dataClient"></civil-section>
          <generic-section v-else :data="category" :dataClient="dataClient"></generic-section>
        </div>
        
        <!-- <l-table :data="category"></l-table> -->
        <!-- <ls-card :data="category" :dataClient="dataClient"></ls-card> -->

      </article>
    </section>
</div>
</template>

<script>

import ModularSection from './ModularSection'
import CivilSection from './CivilSection'
import GenericSection from './GenericSection'

export default {
  props: {
    room: {
      type: Object,
      required: true
    },
    dataClient: {
      type: Object,
      required: true
    }
  },
  components: {ModularSection, CivilSection, GenericSection}
}
</script>
