<template>
  <div class="summary-card">
        <div class="card">
            <div class="card-item">
                <span class="title"> Quote includes </span>
                <p class="text"> {{summaryDetails.roomCount}} Sections, {{summaryDetails.totalProducts}} Products </p>
            </div>
            <div class="card-item">
                <span class="title"> Total price </span>
                <p class="text"> {{summaryDetails.totalPrice | toCurrency(formatter.currencyType, formatter.countryISOCode)}} </p>
            </div>
            <div class="card-item-last">
                <div class="card-item">
                    <span class="title">Quote valid till</span>
                    <p class="text"> {{summaryDetails.payByDate}} </p>
                </div>
                <div v-if="summaryDetails.remainingDays>=0" class="card-item">
                    <p class="days-in-circle"> {{summaryDetails.remainingDays}}</p>
                    <p class="title" style="margin-bottom:0px;"> days <br/> till expiration</p>
                </div>
                <div v-if="summaryDetails.remainingDays<0" class="card-item" style="display: block;">
                    <p style="color: rgb(247, 72, 97);margin: 0;"> Expired</p>
                    <p class="title" style="margin-bottom:0px;">Please contact your designer</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  props:{
    formatter:{
      type: Object,
      required: true,
    },
  },
  data () {
    return {
      summaryDetails: {}
    }
  },
  mounted: function () {
    this.summaryDetails = this.formatter.getSummaryDetails()
  },
}
</script>

<style>
.summary-card{
    margin-bottom: 50px;
}
.summary-card .card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px; /*0px 0px 15px #cfcfcf;*/
    position: relative;
}

@media (min-width:500px){
    .summary-card .card .learn-more{
        position: absolute;
        bottom: -30px;
        right: 10px;
    }
}

.summary-card .card .learn-more{
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}
.summary-card .card .learn-more:visited{
    color: #d31e2d;
}
.summary-card .card .learn-more:hover{
    color: #d31e2d;
}
.summary-card .card .learn-more:link{
    color: #d31e2d;
}

/* summary card for small screens */
@media (max-width : 500px ){
    .summary-card .card {
        display: block;
    }
    .summary-card .card-item{
        margin-bottom: 20px;
    }
}

.summary-card .card-item-last{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 50%;
}
.summary-card .card-item-last .card-item{
    flex-basis: 50%;
}
.summary-card .card-item-last .card-item:last-child{
    display: flex;
    align-items: center;
}
.summary-card .card-item-last .card-item .days-in-circle {
    width: 40px;
    height: 40px;
    border : 2px solid red;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 0px;
}
.summary-card .card-item{
    flex-basis: 25%;
}
.summary-card .card-item .title{
    color: #676767;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.summary-card .card-item .text{
    color : #000;
    font-size: 0.8rem;
    margin: 0px;
    letter-spacing: 1px;
}
</style>
