<template>
  <div v-if="isLoaded.value" v-html="formatter.boqDetails.project.boq_tnc">
  </div>
</template>

<script>
export default {
  name: 'TermsAndConditions',

  data () {
    return {
      more: true,
      isLoaded: {
        value: false
      }
    }
  },
  props:{
    formatter:{
      type: Object,
      required: true,
    },
  },
  created: function () {
    this.formatter.getTnCContent(this.isLoaded);
  },
}
</script>
<style scoped>
section{
  background-color: white !important;
  margin-bottom: 15px;
}

h2 {
  padding-top:10px;
}
</style>
