<template>
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
/* #nav-scroller.outerContainer{
  background-color: #e9e9e9;
}
#nav-scroller .innerContainer{
  padding: 0 !important;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  #nav-scroller .innerContainer {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  #nav-scroller .innerContainer {
    max-width: 960px;
  }
}
@media (min-width: 1120px) {
  #nav-scroller .innerContainer {
    max-width: 1140px;
  }
} */
</style>
